mixin counter-section(props)
    .counter-section&attributes(attributes)
        .counter-section__wrapper
            +counter-block
            +button.counter-section__open Открыть
            +modal(props)
