mixin counter-section(props)
    .counter-section&attributes(attributes)
        .counter-section__wrapper
            +counter-block
            +button.btn__open Открыть
            .modal-body
                block
