.header {
    width: 1920px;
    position: relative;

    &__wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 33px 40px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }

    &__logo {
        svg {
            width: 69px;
            height: 24px;
        }
    }
    &__row {
        width: 100%;
        text-align: center;
    }
    &__nav-link {
        font-size: 16px;
        margin-right: 40px;
        color: #232323;
        &:last-child {
            margin: 0
        }
    }
}
