.header {
    width: 1920px;
    position: relative;

    &__wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 33px 40px;
        position: fixed;
        top: 32px;
        left: 40px;
        z-index: 999;
    }

    &__logo {
        fill: #fff;
        svg {
            width: 69px;
            height: 24px;
        }
    }
    &__row {
        width: 100%;
        text-align: center;
    }
    &__nav-link {
        font-size: 16px;
        margin-right: 40px;
        color: #232323;
        padding-bottom: 3px;

        position: relative;
        &:last-child {
            margin: 0
        }
    }
    &__nav-link:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        transition: width .2s ease;

        height: 2px;
        background-color: $black;
    }
    .is-active:before {
        width: 100%;
    }


}
