.button {
    width: 143px;

    background-color: $blue;
    border-radius: 30px;
    padding: 20px 40px;
    &__wrapper {

        font-size: 16px;
        font-weight: 700;
        color: $white;
    }
}
