extends ../../app/pug/layout

block title
    | SwiperPage

block content
    div(data-barba="container" data-barba-namespace="common" data-page-namespace="swiper").content-wrapper
        h1 swiper

        +footer